*::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: section2aboutfont;
  src: url(./Section2font/Quicksand-SemiBold.ttf);
}
@font-face {
  font-family: section2edumetrixfont;
  src: url(./Section2font/K2D-Bold.ttf);
}
* {
  margin: 0%;
  padding: 0%;
}
.section2maincontainer {
  width: 100%;
  height: 100vh;
  background-color: #d3d3d3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ========================leftpart================== */
/* =================================================== */

.section2logo {
  width: 100px;
  height: 100px;
}
.section2logowithtext {
  display: flex;
  width: 180px;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: bold;
  margin-right: 70px;
}
.sectiontwoedumetrix {
  font-family: section2edumetrixfont;
  font-size: 20px;
}

.sectiontwocompanyandtext {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
  

}
.section2leftsidepart {
  width: 430px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.sectiontwofountedparagraph {
  width: 260px;
  height: 224px;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-family: section2aboutfont;
  color: rgb(22, 72, 100);
}
.Section2About {
  color: rgb(22, 72, 100);
  font-size: 57px;
  font-style: normal;
  font-family: section2aboutfont;
  height: 60px;
  font-weight: 500;
}
.section2aboutcompany {
  width: 300px;
  height: 150px;
}

/* ========================centerimage part================== */
/* =================================================== */

.section2centerpart {
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section2round {
  width: 140px;
  margin-top: -50px;
}

.section2smallround {
  width: 50px;
}

/*=================rightpart=================*/
/* ========================================= */

.section2rightpart {
  width: 700px;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section2reviewimg {
  width: 800px;
  height: 100%;
  border-radius: 260px 0px 0px 260px;
  position: absolute;
  margin-left: 70px;
}
.section2triangleimg {
  position: relative;
  width: 90px;
  height: 90px;
}
.section2lastquotes {
  position: relative;
  width: 400px;
  height: 120px;
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  color: rgb(22, 72, 100);
  text-align: center;
  border-radius: 30px;
  font-weight: bold;
  top: -40px;
  right: 40px;
  font-family: section2aboutfont;
  font-size: 14px;
}
