@media (max-width: 500px) {
  * {
    overflow-x: hidden;
  }
  .section4-gurl-img,
  .section4catandtaildiv {
    display: none;
  }
  .section4-main {
    width: 100% !important;
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green ; */
  }
  .section4-paramain {
    width: 100% !important;
    height: 520px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .section4-heading1 {
    text-align: center;
    height: 65px !important;
    width: 100%;
    margin-bottom: 0px !important;
  }

  .section4wholepara {
    margin-top: -33px !important;
    display: flex;
    height: 380px !important;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
  }
  .section-4handp {
    width: 340px;
  }

  .section4-h2,
  .section4-h3-child,
  .section4-h3,
  .section4-h2-child {
    font-size: 25px !important;
    overflow: hidden !important;
  }
  .section4-heangin2para {
    width: 330px !important;
  }
  .formediadiv{
    width: 90% !important;
  }

  .kidimgandsquaresdiv {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px !important;
    right: 0px !important;
    height: 50vh !important ;
    /* background-color: blue; */
  }
  .setion4kidimgdiv {
    margin-bottom: 50px;
    width: 200px !important;
    height: 150px;
    overflow: hidden;
  }
  .setion4kidimg {
    width: 180px !important;
    height: 190px;
    top: 50px !important;
    left: 10px !important;
    margin-top: -50px !important;
  }
  .squaremaindiv {
    margin-top: -65px !important;
    overflow: hidden;
  }

  .section4-square1 {
    height: 100px !important;
    width: 280px !important;
    border-radius: 10px !important;
    overflow: hidden;
  }
  .section4-square1-child {
    font-size: 24px !important;
    overflow: hidden;
  }
  .section4-square2 {
    height: 100px !important;
    overflow: hidden;
    width: 280px !important;
    border-radius: 10px !important;
  }
  .section4-square2-child {
    font-size: 24px !important;
    overflow: hidden;
  }
  .section4-square3 {
    height: 80px !important;
    width: 280px !important;
    border-radius: 10px !important;
    overflow: hidden;
  }
  .section4-square3-child {
    font-size: 24px !important;
    overflow: hidden;
  }
}
